@model Code.Pizza.Web.Models.LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Code and Pizza - Login</title>
</head>
<body>
    <div>
        <h3>Code and Pizza Login</h3>
        
        @ViewBag.InvalidSessionMessage

        @Html.Partial("_Login")
    </div>
</body>
</html>
