@{
    ViewBag.Title = "Logout";
}
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Code.Pizza - Logged out</title>
</head>
<body>
    <div>
        You have been logged out of Code.Pizza.<br />
        <br />
        @Html.ActionLink("Click here to login again.", "Login", "Account")
    </div>
</body>
</html>
